<footer class="footer pt-10">
  <div class="container">

    <div class="copyright-area">
      <div class="row">
        <div class="col">
          <p>© {{ actualYear }} Piensos Sergio Rocamora. {{ "footer.derechos" | translate }}.</p>
        </div>
        <div class="col text-end">
          <p>{{ "footer.hechoPor"| translate }}
            <a href="https://www.linkedin.com/in/camelo-ricarte-rocamora/">
              Carmelo Ricarte Rocamora
            </a> {{ "footer.withLove" | translate }}
          </p>
        </div>

      </div>
    </div>
  </div>
</footer>
