<section id="home" class="carousel-section-wrapper">
  <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-section carousel-item active pt-225 pb-200 img-bg clip-bg"
        style="background-image: url('../../../../assets/img/corporative-page/carousel/mijol.jpeg');">
        <div class="container">
          <div class="row">
            <div class="col-xl-8 col-lg-10 mx-auto">
              <div class="carousel-content text-center">
                <div class="section-title">
                  <h2 class="carousel-text">{{"home.title" | translate}}</h2>
                  <p class="carousel-text">{{"home.description" | translate}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-section carousel-item pt-225 pb-200 img-bg clip-bg"
        style="background-image: url('../../../../assets/img/corporative-page/carousel/fenomeno.jpeg');">
        <div class="container">
          <div class="row">
            <div class="col-xl-8 col-lg-10 mx-auto">
              <div class="carousel-content text-center">
                <div class="section-title">
                  <h2 class="carousel-text">{{"home.title" | translate}}</h2>
                  <p class="carousel-text">{{"home.description" | translate}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="carousel-section carousel-item pt-225 pb-200 img-bg clip-bg"
        style="background-image: url('../../../../assets/img/corporative-page/carousel/loros.jpeg');">
        <div class="container">
          <div class="row">
            <div class="col-xl-8 col-lg-10 mx-auto">
              <div class="carousel-content text-center">
                <div class="section-title">
                  <h2 class="carousel-text">{{"home.title" | translate}}</h2>
                  <p class="carousel-text">{{"home.description" | translate}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="carousel-section carousel-item pt-225 pb-200 img-bg clip-bg"
        style="background-image: url('../../../../assets/img/corporative-page/carousel/conejos.jpeg');">
        <div class="container">
          <div class="row">
            <div class="col-xl-8 col-lg-10 mx-auto">
              <div class="carousel-content text-center">
                <div class="section-title">
                  <h2 class="carousel-text">{{"home.title" | translate}}</h2>
                  <p class="carousel-text">{{"home.description" | translate}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="carousel-section carousel-item pt-225 pb-200 img-bg clip-bg"
        style="background-image: url('../../../../assets/img/corporative-page/carousel/arena_gato.jpeg');">
        <div class="container">
          <div class="row">
            <div class="col-xl-8 col-lg-10 mx-auto">
              <div class="carousel-content text-center">
                <div class="section-title">
                  <h2 class="carousel-text">{{"home.title" | translate}}</h2>
                  <p class="carousel-text">{{"home.description" | translate}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="carousel-section carousel-item pt-225 pb-200 img-bg clip-bg"
        style="background-image: url('../../../../assets/img/corporative-page/carousel/alimentacion.jpg');">
        <div class="container">
          <div class="row">
            <div class="col-xl-8 col-lg-10 mx-auto">
              <div class="carousel-content text-center">
                <div class="section-title">
                  <h2 class="carousel-text">{{"home.title" | translate}}</h2>
                  <p class="carousel-text">{{"home.description" | translate}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <button class="carousel-control carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"><i class="pi pi-arrow-left"
          style="font-size: 2rem"></i></span>
    </button>
    <button class="carousel-control carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"><i class="pi pi-arrow-right"
          style="font-size: 2rem"></i></span>
    </button>
  </div>
</section>
